# Python
.venv/
venv/
__pycache__/
*.pyc
.env
backend/venv/

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# MongoDB
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Firebase
firebase-*.json
.firebase/